.applyui {
  display: flex;
}
.applyuifirst {
}
.applyuifirstdiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}
.applyuifirstdiv p {
  font-size: 19px;
  font-weight: 450;
  margin-top: 20px;
  line-height: 1.2;
}
.applyuiseconddiv h2 {
  font-size: 23px;
  margin-bottom: 20px;
}
.applyuithirddiv h2 {
  margin-bottom: 30px;
  margin-top: 20px;
}

.firstresponsibility h3 {
  font-weight: 600;
}
.firstresponsibility p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
}
.firstresponsibility {
  margin-bottom: 20px;
}
