.applyui {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.applyuifirstdiv {
  display: flex;
  flex-direction: column;
}

.breadcrumb {
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 100px;
}
.homebreadcrumb {
  color: gray;
  margin-right: 10px;
}
.titlebreadcrumb {
  margin-left: 10px;
}
.applydoccontainer {
  height: auto;
  overflow: hidden;
}
