.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputField {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.required {
  color: red;
  margin-left: 4px;
}

.inputGroup {
  margin-bottom: 1rem;
}

.inputError {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

