.inputWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.input {
  padding: 1rem;
  background-color: #f3f3f6;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  color: #111;
}

.inputError {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.required {
  color: red;
}
